langchain
langchain-community
langchain_groq
langchain_ollama
langgraph
python-dotenv
streamlit
tavily-python
pdfplumber
requests
langchain_cohere
unstructured 
python-pptx 
pandas 
openpyxl 
pyyaml
langchain-unstructured